html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

li {
    list-style: none;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center
}

/*
 * Styles for the deck of cards
 */

.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 95%;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.deck .card {
    height: 50px;
    width: 100%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: not-allowed;
}

.deck .card.show {
    font-size: 6vw;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 6vw;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .restart {
    cursor: pointer;
}

.time-score {
    grid-column: 1 / -1
}

.winner-alert {
    display: block;
    cursor: pointer;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    top: 150px;
    width: 90%;
    height: 300px;
    background-color: #2e3d49;
    border-radius: 10px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.hidden {
    display: none;
}

/*
The footer
*/

footer {
    grid-column: 1 / -1;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.credits {
    color: grey;
    display: block;
    font-size: 10px;
    margin: 0;
}

p.credits {
    width: 100%;
}

.social{
    margin-bottom: 10px;
}

.social_link {
    margin: 10px 20px 5px;
    color: #02b3e4;
    display: inline-block;
    text-decoration: none;
}

.icons {
    width: 28px;
}

/*

Media Queries

*/
@media screen and (min-width: 400px) {
    .deck .card{
        height: 100px
    }
}

@media screen and (min-width: 550px) {
    .deck {
        width: 500px;
        height: 500px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 100%;
        width: 100%;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.open {
        transform: rotateY(0);
        background: #02b3e4;
        cursor: not-allowed;
    }

    .deck .card.show {
        font-size: 33px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 33px;
    }
}