html,body {
    height:100%;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    text-align: center;
    background-color: #f7f0f0;
    margin: 0;
}

div {
    display: table;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(146, 146, 146);
}

div#top-banner{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    background-color: #8d99ae;
    box-shadow: 0px 0px 0px 0px;
}
div#instructions-banner {
    position: absolute;
    top: 43px;
    box-shadow: none;
}
div#instructions {
    color: #f7f0f0;
    position: absolute;
    display: none;
    background-color: #8d99aeaf;
    width: 600px;
    padding: 0px 20px;
    line-height: 30px;

}
div#instructions-title {
    box-shadow: none;
}
#instructions-title:hover + #instructions{
    display: block;
    z-index: 2;
    box-shadow: none;
}

div#container {
    position: absolute;
    left: 0px;
    top: 90px;
    height: 600px;
    width: 100%;
    padding: 0px;
    box-shadow: none;
}

div#left_panel {
    float: left;
    width: 200px;
    height: 550px;
    color: #f7f0f0;
    background-color: #2b2d42;
    line-height: 100px;
}

div#center_panel {
    display: inline-block;
    margin: 0 auto;
    height: 550px;
    color: #2b2d42;
    box-shadow: none;
}
.panel_elements {
    display: table-cell;
    vertical-align: middle;
    box-shadow: none;
    padding: 0px;
}

div#right_panel {
    float: right;
    width: 120px;
    height: 550px;
    background-color: #2b2d42;
}

div.bottom-divs {
    box-shadow: none;
    height: 25px;
}

div.previous-colors {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: white;
    box-shadow: none;
}

h1 {
    font-family: Monoton;
    font-size: 40px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 20px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

h3 {
    float: left;
    margin: 0px;
    line-height: 20px;
}

h4 {
    margin: 5px;
}

p {
    margin: 0px;
    text-align: left;
    float: initial;
}

#canvasTitle {
    font-family: "Audiowide";
    text-align: center;
    vertical-align: middle;
}

.grid_properties {
    margin: 10px;
    color: #f7f0f0;
}

.FEWD-projects {
    font-size: 25px;
    text-decoration-line: none;
    padding: 2px;
    margin: 0px 10px 0px;
    color: #2b2d42;
}
.FEWD-projects:hover {
    background-color: #2b2d42;
    color: #bac7be;
}

ol, ul {
    font-size: larger;
    text-align: justify;
    padding-left: 10px;
}


table {
    border: 2px solid #000000;
    border-radius: 25px;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    padding: 0px;
}

td {
    border: 1px solid rgba(74, 91, 114, 0.404);
    border-radius: 0px;
}

td:hover {
    background-color: #85aeb193;
}
input[type=number] {
    width: 6em;
}

input,
button {
    background-color: #b7e2ee;
}

.reselect-button {
    float: left;
    font-size: xx-small;
}