body {
    text-align: center;
    align-items: center;
}
.score {
    display: block;
    margin: 0 auto;
    width: 505px;
    background-color: grey;
}
p {
    margin: 0;
    text-align: left;
}
.winner-alert {
    display: block;
    position: absolute;
    top: 50px;
    left: 20%;
    width: 60%;
    height: 400px;
    background-color: greenyellow;
}

.hidden {
    display: none;
}