## images ##
udacity.png
udacity.svg
udacity2.svg
musica_thumbnail.png

## pdf files ##
design-mockup-portfolio.pdf

## js files ##
hello.js
hello-world-server.js
*.json
design/

## txt files ##
js/howTo.txt